wandb/
wandb/*
__pycache__/
__pycache__/*
*.ipynb
temp_pdbs/
temp_pdbs/*
notes.py
*table.csv
*.ipynb 
pdbs/
pdbs/*
example/lightdock_*
*.png 
restrained_v1/
restrained_v1/*
temp_restraints/
temp_restraints/*
unsure/
unsure/*
v1_no_constraints_antibody_is_receptor/
v1_no_constraints_antibody_is_receptor/*
pdbs/
pdbs/*
