wandb/
wandb/*
__pycache__/
__pycache__/*
temp_pdbs/
temp_pdbs/*
notes.py
*table.csv
pdbs/
pdbs/*
example/lightdock_*
*.png 
restrained_v1/
restrained_v1/*
temp_restraints/
temp_restraints/*
unsure/
unsure/*
v1_no_constraints_antibody_is_receptor/
v1_no_constraints_antibody_is_receptor/*
pdbs/
pdbs/*
bothrestrained_lightdock_poses/
bothrestrained_lightdock_poses/*
sabdab_best_poses*/
sabdab_best_poses*/*
*.csv 
*.pkl 
*.pt 
*.list 
*.repr 
*.out 
swarm*/
swarm*/*
*.npy 
example/restrained_dfire2/
example/restrained_dfire2/*
example/restrained_fastdfire_nruns10/
example/restrained_fastdfire_nruns10/*
example/restrained_v1_fastdfire/
example/restrained_v1_fastdfire/*
example/restrained_v2_fastdfire/
example/restrained_v2_fastdfire/*
saved_structures/
saved_structures/* 
*.fasta
saved_poses/*.pdb
sabdab_nano_chothia/*.pdb
new_dataset/folded_pdbs_old/seq0_aligned2.pdb
new_dataset/folded_pdbs_old/*.pdb 
parsed_chothia_pdbs/*.pdb 
new_dataset/folded_pdbs/*.pdb 
saved_poses/*.pdb 
saved_poses/*
*combined_structure*.pdb
]\\/*